/* Styles spécifiques au formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espacement entre les champs */
    max-width: 400px;
    margin: 0 auto;
    text-align: left; /* Pour aligner les labels à gauche */
  }
  
  label {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  
  input, select, .react-datepicker-wrapper {
    width: 100%; /* Tous les champs prennent 100% de la largeur */
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1.5rem; /* Espacement entre les champs et le bouton */
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Styles pour les titres */
  h1, h2 {
    margin-bottom: 1.5rem;
    text-align: center; /* Centrer les titres */
  }
  
  /* Styles pour centrer et structurer le contenu */
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }